
@media screen and (min-width: @desktop-viewport) {
  .page-footer {
    width: 100%;
    background-color: @explanation-color;
  }

  .page-footer__wrapper {
    width: @desktop-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .page-footer__list {
    margin-top: 43px;
    margin-bottom: 49px;
    display: flex;
    width: 456px;
    justify-content: space-between;
  }

  .page-footer__element {
  }

  .page-footer__links {
    font-size: 14px;
    text-decoration: none;
    color: black;

    letter-spacing: 0.3px;
  }

  .page-footer__logo {
    margin-top: 45px;
  }

}
