.map {
  width: 100%;
  height: auto;
  display: flex;

  background-image: url("../img/map_mobile.jpg");
  background-position:  bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.map__wrapper {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  margin: 0 auto;
  margin-bottom: 35%;

  text-align: center;
  background-color: white;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 8px;
    left: 0;
    bottom: -8px;

    background-color: @under-map-color;
  }
}

.map__title {
  display: block;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 8%;
  margin-bottom: 0;
  padding: 0;

  text-align: center;
  font-size: @map-title-size;
  font-family: "ZahrahforDouglas-Regular", sans-serif, "Arial";
  font-weight: normal;
  line-height: 30px;
}

.map__form {
  position: relative;
  width: 98%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 22px;
  margin-bottom: 43px;

  &::after {
    content: "";
    position: absolute;
    width: 99%;
    height: 1px;
    left: 0;
    bottom: -5px;

    background-color: @black;
  }
}

.map__post-index {
  padding: 15px 0;
  border: none;
  margin-top: 1px;
}

.map__submit-button {
  padding: 0;
  margin-top: 4px;

  border: none;
  font-weight: bold;
  font-size: @button-font-size;
  font-family: "AvenirNext-Bold", sans-serif, "Arial";
  letter-spacing: 1.2px;
  text-decoration: none;
  text-align: right;
  background-color: white;

  &:hover {
    cursor: pointer;
  }
}

@media screen and (min-width: @tablet-viewport) {
  .map {
    width: 100%;
    height: auto;
    display: flex;

    background-color: @explanation-background-color;
    background-image: url("../img/map.jpg");
    background-position:  bottom;
    background-repeat: no-repeat;
    background-size: cover;
    // background-size: contain;
  }

  .map__wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 75%;
    margin: 0 auto;
    // margin-top: 130px;
    margin-top: 10%;
    margin-bottom: 15%;

    text-align: center;
    background-color: white;
    box-shadow: 0px 2px 7px 2px rgba(0,0,0,0.15);

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 8px;
      left: 0;
      bottom: -8px;

      background-color: @under-map-color;
    }
  }

  .map__title {
    width: 540px;
    display: block;
    margin-top: 8%;
    margin-bottom: 0;
    padding: 0;

    text-align: center;
    font-size: @map-title-size;
    font-family: "ZahrahforDouglas-Regular", sans-serif, "Arial";
    font-weight: normal;
    line-height: 30px;
  }

  .map__form {
    position: relative;
    width: @map-form-desktop-window;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 22px;
    margin-bottom: 73px;

    &::after {
      content: "";
      position: absolute;
      width: @map-form-desktop-window;
      height: 1px;
      left: 0;
      bottom: -5px;

      background-color: @black;
    }
  }

  .map__post-index {
    margin-top: 1px;
    padding: 10px 0;
    border: none;
  }

  .map__submit-button {
    padding: 0;
    margin-top: 4px;

    border: none;
    font-weight: bold;
    font-size: @button-font-size;
    font-family: "AvenirNext-Bold", sans-serif, "Arial";
    letter-spacing: 1.2px;
    text-decoration: none;
    text-align: right;
    background-color: white;

    &:hover {
      cursor: pointer;
    }
  }
}

@media screen and (min-width: @desktop-viewport) {
  .map {
    width: 100%;
    height: 723px;
    display: block;

    background-color: @explanation-background-color;
    background-image: url("../img/map.jpg");
    background-position:  bottom;
    background-repeat: no-repeat;
    // background-size: cover;
    background-size: contain;
  }

  .map__wrapper {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    width: 720px;
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 10px;

    text-align: center;
    background-color: white;
    box-shadow: 0px 2px 7px 2px rgba(0,0,0,0.15);

    &::after {
      content: "";
      position: absolute;
      width: 720px;
      height: 8px;
      left: 0;
      bottom: -8px;

      background-color: @under-map-color;
    }
  }

  .map__title {
    width: 540px;
    display: block;
    margin-top: 52px;
    margin-bottom: 0;
    padding: 0;

    text-align: center;
    font-size: @map-title-size;
    font-family: "ZahrahforDouglas-Regular", sans-serif, "Arial";
    font-weight: normal;
    line-height: 30px;
  }

  .map__form {
    position: relative;
    width: @map-form-desktop-window;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 22px;
    margin-bottom: 73px;

    &::after {
      content: "";
      position: absolute;
      width: @map-form-desktop-window;
      height: 1px;
      left: 0;
      bottom: -5px;

      background-color: @black;
    }
  }

  .map__post-index {
    margin-top: 1px;
  }

  .map__submit-button {
    padding: 0;
    margin-top: 4px;

    border: none;
    font-weight: bold;
    font-size: @button-font-size;
    font-family: "AvenirNext-Bold", sans-serif, "Arial";
    letter-spacing: 1.2px;
    text-decoration: none;
    text-align: right;
    background-color: white;

    &:hover {
      cursor: pointer;
    }
  }
}
